@model Blog.Models.Post

<h2>Post Details</h2>

<div>
    <h4>Title: @Model.Title</h4>
    <h4>Short Description: @Model.ShortDesc</h4>
    <p>@Model.Body</p>
    <p>Posted: @Model.Posted</p>
</div>

<p>
    <a asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    <a asp-controller="Post" asp-action="Index" class="btn btn-secondary">Back to List</a>
</p>
